.image1 {
    border-radius: 50px;
    box-sizing: 3px;
}

#showcase {
    background: url(./images/lap11.jpeg) no-repeat center center/cover;
    height: 87.8vh;
}

.showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1px;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(./images/stairs.jpg) no-repeat center center/cover;
    color: #fff;
}

.showcase-content h1 {
    font-size: 4rem;
    margin-bottom: -3rem;
}